/* #region Colors */

$light: white;
$dark: black;

$primary: #008dc7;
$secondary: #33a4d2;
$tertiary: #004283;

$powder-blue: #b0d0e3;
$half-baked: #8dbdd5;
$horizon: #5a8da5;
$pelorous: #379ec0;
$shakespeare: #4DAFD8;
$mystic: #e6eaf0;
$sirocco: #717272;

/* #endregion Colors */
/* #region Fonts */
@mixin ProximaNova_Condensed() {
    font-family: "ProximaNova_Condensed", sans-serif;
}

@mixin ProximaNova_Condensed_SemiBold() {
    font-family: "ProximaNova_Condensed", sans-serif;
    font-weight: 600;
}

@mixin ProximaNova_Condensed_SemiBold_Italic() {
    font-family: "ProximaNova_Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
}

@mixin ProximaNova_Condensed_Bold() {
    font-family: "ProximaNova_Condensed", sans-serif;
    font-weight: 600;
}

@mixin ProximaNova() {
    font-family: "ProximaNova", sans-serif;
}

@mixin ProximaNova_Bold() {
    font-family: "ProximaNova", sans-serif;
    font-weight: 600;
}

@mixin ProximaNova_Bold_Italic() {
    font-family: "ProximaNova", sans-serif;
    font-weight: 600;
    font-style: italic;
}

/* #endregion Fonts */
/* #region Layout*/
@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow: inset $top $left $blur $spread $color;
        -moz-box-shadow: inset $top $left $blur $spread $color;
        box-shadow: inset $top $left $blur $spread $color;
    }
    @else {
        -webkit-box-shadow: $top $left $blur $spread $color;
        -moz-box-shadow: $top $left $blur $spread $color;
        box-shadow: $top $left $blur $spread $color;
    }
}
/* #endregion Layout*/
